{% extends 'base1.html' %}
{% block content %}
    <h2>My tasks: {{ user.get_full_name}}</h2>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Task name</th>
      <th scope="col">Created</th>
      <th scope="col">Due date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned</th>
    </tr>
  </thead>
  <tbody>
{% for t in tasks %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'task-update' t.id %}">{{ t.name }}</a></td>
        <td>{{ t.placed_date }}</td>
        <td>{{ t.due_date|date }}</td>
        <td>{{ t.priority }}</td>
        <td>{{ t.get_status_display }}</td>
        <td>{{ t.assigned_to}}</td>
    {% empty %}
		<i>No tasks assigned</i>
    </tr>
{% endfor %}
  </tbody>
</table>

     {% include 'include/pagination.html' %}

<hr>

{% endblock %}