{% extends "base1.html" %}

{% block title %}Task:{{ task.name }}{% endblock %}

{% block extrahead %}
<style>
.select2 {
    width: 100% !important;
}

.select2-container {
    min-width: 0 !important;
}
</style>
{{ form.media }}
{{ merge_form.media }}
{% endblock %}

{% block content %}
  <div class="card-deck">
    <div class="card col-sm-8">
      <div class="card-body">
        <h3 class="card-title">{{ task.name }}</h3>
        {% if task.note %}
        <div class="card-text">{{ task.note|safe|urlize|linebreaks }}</div>
        {% endif %}
      </div>
    </div>

    <div class="card col-sm-4 p-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button
            class="btn btn-sm btn-primary"
            id="EditTaskButton"
            type="button"
            data-toggle="collapse"
            data-target="#TaskEdit">
            Expand
          </button>

          <form method="post" action="{% url "toggle" task.id %}" role="form" class="d-inline">
            {% csrf_token %}
            <div style="display:inline;">
              <button class="btn btn-info btn-sm" type="submit" name="toggle_done">
                {% if task.completed %} Mark Not Done {% else %} Mark Done {% endif %}
              </button>
            </div>
          </form>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'task-delete' task.id %}">Delete</a>

        </li>
        <li class="list-group-item">
          <strong>Assigned to:</strong>
          {% if task.assigned_to %} {{ task.assigned_to.get_full_name }} {% else %} Not defined {% endif %}
        </li>
        <li class="list-group-item">
          <strong>Created by:</strong> {{ task.created_by.get_full_name }}
        </li>
        <li class="list-group-item">
          <strong>Due date:</strong> {{ task.due_date|date }}
        </li>

        {% if task.completed %}
          <li class="list-group-item">
            <strong>Completed on:</strong> {{ task.completed_date|date}}
          </li>
        {% else %}
          <li class="list-group-item">
            <strong>Completed:</strong> {{ task.completed|yesno:"Yes,No" }}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div id="TaskEdit" class="collapse">
    {# Task edit / new task form #}
    {% include 'hana/task_update_form.html' %}
  </div>

  <div class="mt-3">
    <h5>Add comment</h5>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" name="comment-body" rows="3" required></textarea>
      </div>
      <input class="btn btn-sm btn-primary" type="submit" name="add_comment" value="Add Comment">
    </form>
  </div>

  <div class="task_comments mt-4">
    {% if comment_list %}
      <h5>Comments on this task</h5>
      {% for comment in comment_list %}
      <div class="mb-3 card">
        <div class="card-header">
          <div class="float-left">
            <span class="badge badge-warning">posted by:</span>
            <strong>{{ comment.author_text }}</strong>
          {% if comment.author == user %}
            <a class="btn btn-danger btn-sm mt-1 mb-1" name="delete" href="{% url 'comment-delete' comment.pk %}">Delete</a>
        {% endif %}
          </div>
          <span class="float-right d-inline-block text-muted">
            {{ comment.date|date:"F d Y P" }}
          </span>
        </div>
        <div class="{{ comment_classes | join:" " }} card-body">
          {{ comment.body|safe|urlize|linebreaks }}
        </div>
      </div>
      {% endfor %}
    {% else %}
        <h5>No comments (yet).</h5>
    {% endif %}
  </div>
{% endblock %}
{{ form.media}}
{% block extra_js %}
  {# Support file attachment uploader #}
  <script>
    $('#attachment_file_input').on('change',function(){
      // Get the file name and remove browser-added "fakepath."
      // Then replace the "Choose a file" label.
      var fileName = $(this).val().replace('C:\\fakepath\\', " ");
      $(this).next('.custom-file-label').html(fileName);
    })
$(document).click(function(event) {
    console.log($(event.target).text());
});
  </script>
{% endblock extra_js %}

